* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}


li {
    list-style: none;
}

button {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    border: none;
    z-index: 10;
    
}

 
button:hover {
    cursor: pointer;
    background-image: linear-gradient(#FFA384, #74BDCB);
 
}
.chuoi-moi-deal-khung-slider button.slick-prev,
.before-banner button.slick-prev {
    left: -20px;
    top: 82px;
}

.chuoi-moi-deal-khung-slider  button.slick-next,
.before-banner button.slick-next {
    right: -20px;
    top: 82px;
    
}


.chuoi-moi-deal-khung-slider button ion-icon,
.before-bannr button ion-icon {
    height: 20px;
    width: 20px;
    color: rgb(219, 76, 76);
}


.slick-initialized .slick-slide {
    margin: 10px;
}

main {
    min-width: 900px;

}


main > div > h2 {
    font-size: 22px;
    font-weight: 550;
    margin: 15px 0;
}

main > div {
    margin: 30px 0;
}

body {
    background-color: #F3F3F3;

}
/* Phan dung chung cho tat ca cac page (Header/ Footer/ Banner) */
/* ----------------------- header here ------------------ */
.header-top-banner {
    height: 54px;
    width: 100%;
    background-color: #FFDB00;
    padding: 0 11%;
   
}
.header-top-banner > div:nth-child(2) {
    height: 50px;
    margin-top: -5px;
}

.header-top-banner img {
    /* width: 100%; */
    /* height: 44px; */
    margin: 0 -10px; 
}

.header-top-banner button ion-icon {
    height: 40px;
    width: 40px;
    color:rgb(117, 102, 102);
}

.header-top-banner > button {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    position: absolute;
    padding-bottom: 15px;
}

.header-top-banner > button.slick-prev {
    top: 10px;
    left: calc(11% - 35px)
}

.header-top-banner > button.slick-next {
    top: 10px;
    right: calc(11% - 35px)
}

/*  */


header {
    background-color: #ffd400;
    min-width: 1000px;
}



.header__top {
    height: 55px;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    background-color: #ffd400;
    align-items: center;
}


.header__top > a, .header__top > form {
    margin-right: 13px;
}
.header__address >span {
    font-weight: bold;
}
.header__like__button {
    background-color: rgba(255,172,10,.6);
    height: 40px;
    font-size: 12px;
    padding: 4px 6px 4px 10px;
    color: #333;
    width: 15%;
    border-radius: 4px;
    text-align: center;
}

.header__logo {
    margin-left: -5px;
}

.header__address {
    width: 145px;
    display: inline;
    line-height: 16px;
    font-size: 11px;
    text-align: left;
}

.header__search {
    height: 40px;
    width: 300px;
    border-radius: 4px;
    position: relative;
    background-color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}

.header__search input {
    background-color: #fff;
    font-size: 12px;
    width: calc(100% - 35px);
    line-height: 20px;
    height: 30px;
    border-radius: 4px;
    border: none;
}


.header__search input:focus {
    outline: none;
}


.header__search button {
    background-color: transparent;
    position: absolute;
    right: 10px;
    border: none;
    height: 30px;
    width: 30px;
}

.header__search button ion-icon {
    height: 20px;
    width: 20px;
}

.header__history {
    width: 100px;
}


.history__div {
    background-color: black ;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}


.header__cart {
    line-height: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.header__cart ion-icon {
    height: 25px;
    width: 25px;
    margin-right: 8px;
}

.header__listop {
    display: flex;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__listop > li {
    border-right: 1px solid rgb(240, 223, 223);
    height: 40px;
    list-style: none;
    padding: 0 10px;
    font-size: 14;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header__listop > li:last-child {
    padding-right: 0;
}


.header__listop > li:last-child {
    padding-right: 0;
0}

.header__listop >li:last-child {
    border: none;
    padding-right: 0;
}

.header__main {
    height: 55px;
    width: 100%;
    
}

.header__main > ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.header__main > ul >  li {
    display: flex;
    list-style: none;
    font-size: 14;
    height: 55px;
    line-height: 55px;
    padding: 15px 0;
    justify-content: center;
    cursor: pointer;
}

.header__main > ul  > li a  {
    line-height: 20px;
    display: flex;
    align-items: center;
}
.header__main li a img {
    height: 20px;
    width: 20px;
    margin-right: 7px;
}

.header__main ul li a ion-icon {
    padding: 0 2px;
}

.header__main ul li> div,
.header__main ul li > ul {
    line-height: 20px;
    padding: 10px 15px;
    margin-top: 0px;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
}

.header__main__phone {
    padding-left: 0;
    justify-content: left;
}

.header__main__pc-mayin {
    position: relative;
    padding: 0;
}

.header__main__pc-mayin__divcon {
    display: none;
    width: 150px;
    height: 140px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 55px;
    
}

.header__main__pc-mayin__divcon li {
    height: 32px;
}

.header__main__pc-mayin:hover .header__main__pc-mayin__divcon {
    display: block;
    z-index: 10;
    transition: all 2s;
}

.header__main__dich-vu-tien-ich {
    position: relative;

}

.header__main__dich-vu-tien-ich__box {
    margin-top: -3px;
    z-index: 100;
    width: 810px;
    position: absolute;
    top: 55px;
    right: 0;
    display: none;
    border-radius: 4px;
    font-size: 14;
    padding: 10px 15px;
    text-align: left;
    background-color: white;
}


.table__columns th{
    padding: 5px 0;
}
/* .table__columns p  {
    border-bottom: 1px solid rgb(94, 49, 49);
}  */

.header__main__dich-vu-tien-ich__box th {
    width: 270px;

}

.header__main__dich-vu-tien-ich__box tr {
    height: 25px;
}
.header__main__dich-vu-tien-ich:hover .header__main__dich-vu-tien-ich__box {
    display: block;
    z-index: 10;
}

main > img {
    width: 100%;
}


.header__main__phu-kien {
    position: relative;
}
.phu-kien-box {
    width: 770px;
    height: 330px;
    background-color: #fff;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 1001;
    display: none;
    justify-content: space-between;
    font-size: 14px;
    
}

.box-details {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 13px;

}
.box-details span {
    width:max-content;
    height: 25px;
    display: block;
    border-bottom: 1px solid rgb(177, 71, 71);
}
.phu-kien-box__left {
    flex: 1;
}

.phu-kien-box__right {
    flex: 3;
    margin-left: 10px;
}

.phu-kien-box li {
    height: 25px;
    
}
.phu-kien-box__right div ul li a {
    line-height: 25px;
}

.header__main__phu-kien:hover .phu-kien-box {
    display: flex;
    z-index: 10;
}

.phu-kien-box div ul li a {
    line-height: 10px;
}

.phu-kien-box__right__above,
.phu-kien-box__right__below {
    display: flex;  
    justify-content: space-between;
}

.phu-kien-box__right__below {
    margin-top: 10px;
}

.phu-kien-box__right__above > ul,
.phu-kien-box__right__below > ul 
{
    width: calc(95% / 3 )
}
/* FOOTER */

footer {
    font-size: 14px;
    border-top: 1px solid rgb(236, 210, 210);
}

footer ul li {
    list-style: none;
    line-height: 28px;
    opacity: 0.9;
}

footer a {
    text-decoration: none;
    color: black;
}
.footer__above {
    height: 250px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: white;
}

.footer__div1, .footer__div2, .footer__div3  {
    width: calc(62% / 3);
}
.footer__div1__toshow {
    display: none;
}



.span-before-phone  {
    width: 80px;
    display: inline-block;
}


.footer__div3 ul li:first-child {
    font-weight: bold;
}

.footer__div3 ul li span.phone-number {
    color: rgb(82, 82, 218);
    font-weight: bold;
}

.footer__div4 {
    width: 30%;
    padding: 5px 0;

}
.footer__div4__above {
    display: flex;
    justify-content: space-between;
    color: rgb(91, 91, 225);

}

.footer__div4__center {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.footer__div4__center img,
.footer__div4__center > div
 {
    height: 35px;
    width: 80px;
}
footer__div4__center > div {
    background-color: green ;
}

.footer__div4__above div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__div4__above div img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 50%;
}

.footer__div4__below {
    margin-top: 30px;
    opacity: 0.9;
}
.footer__div4__below div {
    margin-top: 10px;
    justify-content: space-between  ;
    flex-wrap: wrap;
    display: flex;
}

.footer__div4__below div img {
    width: calc(95% / 4);
    height: 25px;
    margin-top: 5px;
}



.footer__below {
    height: 66px;
    background-color: #F1F1F1;
}

.footer__below p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    
}

.footer__div1__tohide {
    cursor: pointer
}

/* BANNER */

.div__fixed {
    height: 0px;
    position: sticky;
    top: 30%;
    left: 10%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    margin-left: -8%;
    margin-right: -8%;
    margin-top: 0;
    margin-bottom: 30px;
    z-index: 100;
}
.fixed-left , .fixed-right {
    width: initial;
    position: absolute;
    
}

.fixed-left {
    top: 100%;
    left: 0;
}

.fixed-right {
  right: 0;
  top: 100%;
}


.banner1 {
    position: relative;
    /* height: 420px; */
}

.banner1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
}

.banner1__div {
    height: 176px;
    background-color: green;
    display: block;
    width: 100%;
}
/* Before Banner */
main > div.contain-before-banner {
    height: 380px;
    margin: 0 -7px;
}

.before-banner {
    top: 160px;
    position: relative;
    
}

.before-banner img {
    width: initial;
    height: 180px;
    border-radius: 20px;
}


/* Promo Option */
main > ul.option__promo {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.option__promo img {
    height: 70px;
    width: 70px;
    margin-right: 12px;
}

.option__promo li {
   list-style: none;
    width: 280px;
    height: 100px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #222;
}

.option__promo li a {
    display: flex;
    justify-content: center;
    align-items: center;
}


.img__topzone {
    margin: 0px 0 0 0;
}
/* Tuan le may man */
.tuan-le-may-man {
    height: 670px;
    background-color: #005B73 ;
    border-radius: 15px;
    position: relative;
}
.tuan-le-may-man img {
    width: 100%;
}

.tuan-le-may-man__content {
    height: 550px;
    margin: 5px 15px;
}

.tuan-le-may-man__content__div {
    background-color: white;
    height: 460px;
    padding: 30px 10px;
    border-radius: 5px;;
}

.tuan-le-may-man__content__div img {
    width: 190px;
    height: 220px;
    margin-bottom: 15px;
}


.tuan-le-may-man__xemtatca {
    display: flex;
    justify-content: center;
}
.tuan-le-may-man__xemtatca a {
    background-color: white;
    display:inline-block;
    width: 340px;
    height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 15px;
   border-radius: 10px;
   font-size: 14px;
}
.tuan-le-may-man__xemtatca a:hover {
    cursor: pointer
}

.tuan-le-may-man__xemtatca a ion-icon {
    margin-left: 5px;
}

.tuan-le-may-man__content button {
    width: 32px;
    height: 60px;
    background-color: #FAF8F6;
    border-radius: 5px;
    position: absolute;
    border: none;
    z-index: 10;
    opacity: 0.5;
}

.tuan-le-may-man__content button:hover  {
    opacity: 1;
    background-color: #FAF8F6;
}


.tuan-le-may-man__content button ion-icon {
    height: 25px;
    width: 25px;
}

.tuan-le-may-man__content button.slick-prev {
    left: -10px;
    top: 165px;
}

.tuan-le-may-man__content button.slick-next {
    right: -10px;
    top: 165px; 
}

.tuan-le-may-man .slick-initialized .slick-slide {
    margin: 5px;
}


/* Tuan le Samsung */

.tuan-le-samsung h1 {
    text-align: center;
    padding: 15px;
    color: white;
    font-size: 45px;
    
}
.tuan-le-samsung {
    height: 820px;
    background-color: #092dc6;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}

.tuan-le-sam-sung__content {
    position: relative;
}
.tuan-le-sam-sung__content__div {
    background-color: white;
    height: 400px;
    padding: 20px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.tuan-le-sam-sung__content__div img {
    width: 190px;
    height: 220px;
    margin-bottom: 15px;
}


.tuan-le-sam-sung__xemtatca {
    display: flex;
    justify-content: center;
}

.tuan-le-sam-sung__xemtatca a {
    background-color: white;
    display:inline-block;
    width: 360px;
    height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 30px;
   border-radius: 5px;
   font-size: 14px;
}
.tuan-le-sam-sung__xemtatca a:hover {
    cursor: pointer
}

.tuan-le-sam-sung__xemtatca a ion-icon {
    margin-left: 5px;
}

.tuan-le-sam-sung__content button {
    width: 32px;
    height: 60px;
    background-color: #FAF8F6;
    border-radius: 5px;
    position: absolute;
    border: none;
    z-index: 100;
    opacity: 0.5;
}

.tuan-le-sam-sung__content button:hover  {
    opacity: 1;
    background-color: #FAF8F6;
}


.tuan-le-sam-sung__content button ion-icon {
    height: 25px;
    width: 25px;
}

.tuan-le-sam-sung__content button.slick-prev {
    left: -11px;
    top: 150px;
    z-index: 100;
}

.tuan-le-sam-sung__content button.slick-next {
    right: -11px;
    top: 150px; 
}

.tuan-le-sam-sung-slider1 button.slick-prev {
    left: -20px;
    top: 70px;
    z-index: 100;
}

.tuan-le-sam-sung-slider1 button.slick-next {
    right: -20px;
    top: 70px; 
}

.tuan-le-samsung .slick-initialized .slick-slide {
    margin: 5px;
}

.tuan-le-sam-sung-slider1 {
    position: relative;
}

.tuan-le-samsung .tuan-le-sam-sung-slider1 img {
    height: 200px;
}

/* Xu huong mua sam */
.xu-huong-mua-sam {
    height: 330px;
    background-color: #ffdac7;
    border-radius: 20px;
    margin: 5px 0 30px 0;
    padding: 20px;
}


.xu-huong-mua-sam__content {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}


.xu-huong-mua-sam__content > div {
    width: 280px;
    height: 230px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.xu-huong-mua-sam__content > div a > div {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.xu-huong-mua-sam__content > div a > div p:nth-child(2) {
    color: rgb(87, 87, 234);
    margin-top: 12px;
}



/* CHUYEN TRANG THUONG HIEU */
.chuyen-trang-thuong-hieu {
    margin-top:45px;
    margin-bottom: 45px;
    
}

.chuyen-trang-thuong-hieu ul  {
    margin-top: 20px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.chuyen-trang-thuong-hieu ul li {
    width: 400px;
    list-style: none;
  
}

.chuyen-trang-thuong-hieu ul li img {
    border-radius: 15px;
}
 /* CHUOI MOI DEAL KHUNG */

 .chuoi-moi-deal-khung {
    margin-top: 45px;
    margin: 0 -10px;
 }

 .chuoi-moi-deal-khung h2 {
    margin: 15px;
    
 }
.chuoi-moi-deal-khung > div  {
    margin-top: 20px;
    height: 230px;
    display: flex;
    justify-content: space-between;
}

.chuoi-moi-deal-khung-slider div img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.chuoi-moi-deal-khung-slider button {
    width: 50px;
    height: 50px;
    background-color: #FAF8F6;
    border-radius: 50%;
    position: absolute;
    border: none;
    z-index: 10;
}



.chuoi-moi-deal-khung-slider button.slick-prev {
    left: -20px;
    top: 70px;
}

.chuoi-moi-deal-khung-slider button.slick-next {
    right: -20px;
    top: 70px; 
}


.chuoi-moi-deal-khung-slider button ion-icon {
    height: 20px;
    width: 20px;
    color: rgb(219, 76, 76);

}

.slick-initialized .slick-slide {
    margin: 0 10px;
}


@media screen and (min-width: 1800px) {
    header{
        padding: 0 18%;
    }
    .footer__above {
        padding: 18px 18%;
    }

    .footer__below {
        padding: 18px 18%;
    }
    main  {
        padding: 0 18%;
    }
}

@media (min-width: 1180px) and (max-width: 1900px) {
    header {
        padding: 0 10%;
    }
    .footer__above {
        padding: 18px 10%;
    }

    .footer__below {
        padding: 18px 10%;
    }
    main {
        padding: 0 10%;
    }
}
@media (min-width: 1180px) and (max-width: 1900px) {
    header {
        padding: 0 10%;
    }
    .footer__above {
        padding: 18px 10%;
    }

    .footer__below {
        padding: 18px 10%;
    }
    main {
        padding: 0 10%;
    }
}


/* Danh muc noi bat */
.danh-muc-noi-bat {
    height: 350;
    background-color: white;
    margin: 30px 0;
    border-radius: 15px;
}


.danh-muc-noi-bat__content {
    height: 280px;
    flex-wrap: wrap;  
    display: flex;
    justify-content: center;
    padding: 10px 43px;

}


.danh-muc-noi-bat h2 {
    padding: 20px;
    padding-bottom: 0;
}


.danh-muc-noi-bat__content div {
    width: calc(100% / 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.danh-muc-noi-bat__content div a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.danh-muc-noi-bat__content div a img {
    height: 60px;
    width: 60px;
}

.danh-muc-noi-bat__content div a p {
    font-size: 14px;
    margin: 8px 0;
    text-align: center;
    width: 80%;
}
/* Giảm thêm khi thanh toán online */
.giam-them-khi-thanh-toan-online {
    height: 270px ;
    position: relative;
}


.giam-them-khi-thanh-toan-online__content {
    margin: 15px -10px;

}
.giam-them-khi-thanh-toan-online__content img{
    height: 200px;
    border-radius: 15px;
}

.giam-them-khi-thanh-toan-online__content button.slick-prev {
    left: -20px;
    top: 70px;
}

.giam-them-khi-thanh-toan-online__content button.slick-next {
    right: -20px;
    top: 70px;
   
}
/* Daily Suggestion */

.label-for1 li {
    background-image: linear-gradient(120deg, #ff4b1f, #1fddff);
}
ul.daily-sg-option__promo {
    display: flex;
    justify-content: space-between;
}
    
ul.daily-sg-option__promo label li  {
    height: 70px;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 295px
}

ul.daily-sg-option__promo label li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

ul.daily-sg-option__promo label li img {
    height: 40px;
    width: 40px;
}

.goi-y-hom-nay__content1, 
.goi-y-hom-nay__content2,
.goi-y-hom-nay__content3,
.goi-y-hom-nay__content4
 {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 800px;
    overflow-y: hidden;
}

.goi-y-hom-nay__content1 > div,
.goi-y-hom-nay__content4 > div,
.goi-y-hom-nay__content3 > div,
.goi-y-hom-nay__content2 > div{
    height: 380px;
    width: 230px;
    border-radius: 10px;
    margin-top: 15px;
}

.goi-y-hom-nay__content1 > div {
    background-color: rgb(255, 160, 160) ;

}

.goi-y-hom-nay__content2 > div{
    background-color: rgb(155, 23, 23) ;

}

.goi-y-hom-nay__content2 img {
    height: 100px;
    width: 100px;
}

.goi-y-hom-nay__content3 > div {
    background-color: rgb(210, 188, 188) ;
}

.goi-y-hom-nay__content4 > div{
    background-color: rgb(189, 95, 95) ;
}


#goi-y-hom-nay-radio-1:checked ~ .goi-y-hom-nay__content1 {
    display: flex;
}

#goi-y-hom-nay-radio-2:checked ~ .goi-y-hom-nay__content2 {
    display: flex;
}
#goi-y-hom-nay-radio-3:checked ~ .goi-y-hom-nay__content3 {
    display: flex;
}

#goi-y-hom-nay-radio-4:checked + .goi-y-hom-nay__content4 {
    display: flex;
}


.daily-sg-btn-active {
    background-color: blue;
}

.daily-sg-form input {
    display: none;
}
/* Dịch vụ tiện ích */
.dich-vu-tien-ich {
    height: 245px;
    background-color: white;
    margin: 30px 0;
    border-radius: 20px;
    padding: 20px;
}

.dich-vu-tien-ich__content {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
   
}

.dich-vu-tien-ich__content > div {
    width: calc(95% / 4);
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.dich-vu-tien-ich__content__div1 {
    background-color: #b8d6f3;
}

.dich-vu-tien-ich__content__div2 {
    background-color: #FFEFDB;
}

.dich-vu-tien-ich__content__div3 {
    background-color: #e5e9b6;
} 

.dich-vu-tien-ich__content__div4 {
    background-color:  #E1FECF;
}

.dich-vu-tien-ich__content_div__right {
    width: 80%;
    font-size: 18px;
    opacity: 0.9;
}
.dich-vu-tien-ich__content__div__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 20px;
    background-color: white;
}
.dich-vu-tien-ich__content_div__right p {
    margin: 13px 0;
}



/* 24h cong nghe */

.h-cong-nghe {
    display: flex;
    justify-content: space-between;
    height: 380px;
}

.h-cong-nghe-left {
    flex: 3;
    margin-right: 20px;
    height: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    
}
.h-cong-nghe-title {
    display: flex;
    justify-content: space-between;
}


.h-cong-nghe-entries {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.h-cong-nghe-entries li {
    list-style: none;
    flex: 1;
}


.h-cong-nghe-entries li a img {
    height: 160px;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    padding: 0 5px;
}

.h-cong-nghe-entries li:first-child a > img {
    padding-left: 0;
}

.h-cong-nghe-entries li:last-child a > img {
    padding-right: 0;
}


.h-cong-nghe-entries li a p {
    margin-top: 10px;
    white-space: nowrap;
    width: 250px;
    height: 100px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}


.h-cong-nghe-right a img {
    height: 350px;
}

.h-cong-nghe-right {
    flex: 1;
}



/* CART PAGE---------------------------------------------------------------------- */
.cart__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    font-size: 14px;
    color:rgb(44, 40, 40)
}

.cart__content  img {
    width: 70px;
    height: 70px;
}

.cart__content a {
    padding: 10px 250px;
    border: 1px solid rgb(145, 28, 240);
    margin: 25px 10px;
    color:rgb(145, 28, 240);
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;

}

.cart__content  span {
    color: rgb(145, 28, 240);
}

/* History Page ------------------------------------------------------------------------*/
main:has(.history__main)  {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0 10%;
    height: 100%;
}


.history__main {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0;
    padding: 40px 0;
}

.history__main > div {
    height: 560px;
    width: 500px;
    border: 1px solid rgb(204, 198, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.history__main > div > img {
    padding-top: 25px;
    width: 100%;
}

.history__main > div > p {
    margin: 20px auto;
    font-weight: lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.history__main > div > form {
    display: flex;
    flex-direction: column;
}
 .history__main > div > form {
    position: relative;
}

img.history__img__form {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
}

.history__main > div > form > div  {
    position: relative;
    display: flex;
    align-items: center;
}

.history__main > div > form > div img {
    position: absolute;
    left: 20px;
    top: 9px;
    height: 25px;
    width: 18px;
}
.history__main > div > form input {
    height: 45px;
    border: none;
    width: 300px;
    line-height: 45px;;
}

.history__main > div > form input:focus {
    border: none;
    outline: none
}

.history__main > div > form input::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;;
}
.history__main > div > form input[type="submit"], 
.history__main > div > form > div 
{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgb(191, 186, 186);
    margin: 10px 0 5px 0;
    line-height: 50px;
    padding: 0 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.history__main > div > form input[type="submit"] {
    background-color: #46B0E7;
    font-size: 20px;
    color: white;
    font-weight: lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Laptop Page */

.laptop__slider-banner {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px -10px;
}

.laptop-slider {
    width: calc(99.5% * 2/ 3);
    margin-top: -10px;
    margin-bottom: 10px;
}

.laptop-slider img {
    width: 100%;
    height: 100%;
;
}
.laptop-slider:hover {
    cursor: pointer;
}

.laptop-slider:hover+button{
    background-color: white;
    opacity: 1;
}



.laptop-banner  {
    width: calc(99.5% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.laptop-slider button.slick-prev,
.before-banner button.slick-prev {
    left: 15px;
    top: 90px;
}

.laptop-slider  button.slick-next {
    right: 15px;
    top: 90px;
}

.laptop-slider  button.slick-next,
.laptop-slider button.slick-prev {
    opacity: 0.5;
    border-radius: 5px;
    height: 50px;
    width: 28px;
}


.laptop-slider button ion-icon,
.before-bannr button ion-icon {
    height: 20px;
    width: 20px;
    color: rgb(219, 76, 76);
}


.slick-initialized .slick-slide {
    margin: 10px;
}



.laptop__quick-link {
    height: 120px;
    background-color: #E0E0E0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.laptop__quick-link > a{
    width: calc(95% / 7);
    background-color: white ;
    border-radius: 20px;
}

.laptop__quick-link > a> img {
    border-radius: 20px;
}

/* FIXED Category--------------- */
.fixed__category {
    height: 150px;
    background-color: green;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
  
}


.fixed__category ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed__category ul li  {
    width: calc(95% / 8);
    
}

.fixed__category ul li a  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;

}
.fixed__category ul li a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Laptop--chuyen trang thuong hieu */

.laptop__chuyentrangthuonghieu {
  
}

.laptop__chuyentrangthuonghieu div {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
   
}
.laptop__chuyentrangthuonghieu div img {
    height: initial;
    width: calc(95% / 4);
}
/* Trung tam laptiop */

.trungtamlaptop-slider img {
    height: 310px;
    width: 550px;
}

/* Các sản phẩm công nghệ khác */

.laptop__cacsanphamcongnghekhac div {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
}

.laptop__cacsanphamcongnghekhac div a img {
    height: 50px;
    width: 50px;
}

/* Trung tam laptop */
.laptop-trungtamlaptop-wrapper {
    background-color: #121A2D;
    height: 940px;
    margin: 0 -12%;
    padding: 20px 0;
}
.trungtamlaptop-slider {
    z-index: 1;
}
.trungtamlaptop-slider button.slick-prev
{
    left: 50px;
    top: 150px;
}

.trungtamlaptop-slider  button.slick-next {
    right: 50px;
    top: 150px;
}

.trungtamlaptop-slider  button.slick-next,.trungtamlaptop-slider button.slick-prev {
    opacity: 0.5;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.slick-dots {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    z-index: 100;
    width: 200px;
    justify-content: space-between;
    margin-left: calc(50% - 190px);
}
.slick-dots li  {
    margin: 10px 30px;
}
.slick-dots li button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

/* .slick-active {
    background-color: black;
} */

div.trungtamlaptop-slider > button:hover {
    background-color: white;
}


.trungtamlaptop-slider button ion-icon,
.before-bannr button ion-icon {
    height: 20px;
    width: 20px;
    color: rgb(219, 76, 76);
}


.slick-initialized .slick-slide {
    margin: 10px;
}

.truntamlaptop-slider ul.slick-dots {
    margin-left: 250px;
    background-color: #092dc6;
}

.clear {
    height: 1000px;
}

/* TIN TUC PAGE */

.tin-tuc__main {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.tin-tuc__main__left {
    width: 66%;

}

.tin-tuc__main__left > img {
    margin-top: 20px;
    border-radius: 10px;;
}

.tin-tuc__main__right {
   height: 2000px;
    width: 32%;
}
.tin-tuc__main__left__div1 {
    display: flex;
    border-bottom: 1px solid rgb(228, 218, 218);
    font-size: 16px;
    justify-content: space-between;
}

.tin-tuc__main__left__div1__left {
    width: calc(66%);
}


.tin-tuc__main__left__div1__left ul {
    display: flex;
    justify-content: space-between;
}

.tin-tuc__main__left__div1__left img {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;;
}

.tin-tuc__main__left__div1__left ul li {
    padding: 3px;
    font-size: 13px;
}

.tin-tuc__main__left__div1__left a img {
    margin-top: 20px;
}

.tin-tuc__main__left__div1__left a h4 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tin-tuc__main__left__div1__left a p {
    font-size: 15px;
}

.tin-tuc__main__left__div1__left a p:last-child {
    font-size: 13px;
    margin-top: 20px;
    opacity: 0.7;
    margin-bottom: 20px;
}

.tin-tuc__main__left__div1__left a p:last-child span {
    margin-left: 15px;
}

.tin-tuc__main__left__div1__right {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.tin-tuc__main__left__div1__right ul:first-child {
    display: flex;
}

.tin-tuc__main__left__div1__right ul:first-child li {
    padding: 5px;
    font-size: 13px;
}
.tin-tuc__main__left__div1__left ul:first-child li {
    padding: 5px;
}

.tin-tuc__main__left__div1__left ul:first-child li:first-child {
    background-color: rgb(221, 171, 64);
    border-radius: 3px;
}

.tin-tuc__main__left__div1__right ul:last-child li{
    margin: 10px 0;
    border-bottom: 1px solid rgb(208, 202, 202);
    padding: 5px 0;
    line-height: 20px;
    padding: 5px 0;
}

.tin-tuc__main__left__div1__right ul li:last-child {
    border: none;
}

.tin-tuc__main__left__div1__right > a {
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid rgb(218, 200, 200);
}



.tin-tuc__main__left__div1__right > a > h4 {
    margin-top: 10px;
}

.tin-tuc__main__left__div1__right > a > img {
    border-radius: 5px;
    width: 100%;
}

.tin-tuc__main__left__div1__right > a > p {
    margin-top: 10px;
    opacity: 0.7;
    font-size: 12px;
    padding-bottom: 10px;
}
.tin-tuc__main__left__div1__right > a > p > span:last-child {
    margin-left: 20px;
    display: inline-block;
}


.tin-tuc__main__left__div2 a{
   
    display: flex;
    margin: 25px 0;
    border-bottom: 1px solid rgb(228, 222, 222);
    padding-bottom: 5px;;
}

.tin-tuc__main__left__div2 a img {
    height: 140px;
    width: 250px;
    border-radius: 5px;
    margin-right: 20px;
}

.tin-tuc__main__left__div2 a div p:first-child {
    font-size: 22px;
    font-weight: bold;
}

.tin-tuc__main__left__div2 a div p:last-child {
    font-size: 12px;
    margin-top: 10px;
}

.tin-tuc__main__left__div2 a div p:last-child span {
    margin-right: 15px;
    opacity: 0.7;
}

.tin-tuc-xemthem {
    position:relative;
    width: 100%;
    height: 50px;
    background-color: #092dc6;
    opacity: 0.7;
    border-radius: 5px;
}

button.tin-tuc-xemthem:hover {
    opacity: 1;
}

.tin-tuc__main__right > a {
    /* padding: 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}


.tin-tuc__main__right > a >img {
   width: 24px;
   height: 24px;
   margin-right: 10px;
}

.tin-tuc__main__right > img {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;;
}

.tin-tuc__chudehot ul {
    display: flex;
    flex-wrap: wrap;
}

.tin-tuc__chudehot ul li {
    background-color: #092dc6;
    border-radius: 10px 0 0 10px;
    list-style:circle;
    margin: 5px 0;
    padding: 5px;
    list-style-position: inside;  
    font-size: 13px;
    margin-right: 5px;
}

.tin-tuc__chudehot ul li a {
    color: white;
}

.game-app__div2 {
    width: 100%;
    margin-left: -5px;
}
.game-app__div2 > div {
    width: 100%;
    height: 400px;
    display: inline-block
}

}
.game-app__div2 > div img {
    
    height: 80px;
}

.tin-tuc__main__right h4 {
    color: #288AD6;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0 10px 0;
    border-bottom: 1px solid rgb(199, 185, 185);
    font-family: Arial, Helvetica, sans-serif !important;
}

.baivietspmoi ul li {
    padding: 10px 0;
}

.baivietspmoi ul li a {
    display: flex;
    align-items: center;
}

.baivietspmoi ul li a img {
    width: 80px;
    height: 60px;
}
.baivietspmoi ul li a p {
    margin-left: 10px;
}

.slick-track {
    display: block;
}

.xem-tat-ca-cac-app {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    background-color: #F8F8F8;
    border-radius: 5px;
}


.xem-tat-ca-cac-app a {
    color: blue;
    display: block;
}

.game-app__div2 button {
    position: absolute;
}

.tin-tuc__thaoluannhieu ul li {
    padding: 10px 0;
    font-size: 15px;
    margin-left: 30px;
    list-style-type: ;
}

.sukien ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(181, 165, 165);
}
.sukien ul li img {
    margin-right: 10px;
}

.sukien ul li:first-child {
    font-weight: bold;
    font-size: 18px;
}

.game-app__div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-app__div1 a {
    color: blue;
}


/* Hoi dap */
.hoi-dap__main {
    background-color: white;
    font-size: 16px;

}

.hoi-dap__main__above {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-items: center;
}

.hoi-dap__main__above a:first-child{
    text-transform: uppercase;
    font-weight: bold;
    color:#2A8BD6;
    font-size: 20px;
}

.hoi-dap__main__above>div {
    display: flex;
    align-items: center;
}

.hoi-dap__main__above>div>a {
    display: flex;
    align-items: center;
}



.hoi-dap__main__above div img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.hoi-dap__main__above>div>a {
    font-size: 14px;
}

.hoi-dap__main__below {
    display: flex;
    justify-content: space-between;
}

.hoi-dap__main__below__left {
    width: calc(26%);
    display: flex;
    flex-direction: column;
}

.hoi-dap__main__below__left h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(209, 197, 197);
}


.hoi-dap__main__below__right {
    width: calc(72%);
}

.hoi-dap__main__below {
    display: flex;
}

/* .hoi-dap__main__below__left ul */


.hoi-dap__main__below__left ul li {
   
    padding: 5px 0;
    cursor: pointer;
    border-bottom: 1px solid rgb(220, 203, 203);
}

.hoi-dap__main__below__left ul li:last-child {
    border: none;
}

.hoi-dap__main__below__left > ul li div > div {
    display: flex;
    align-items: center;
    
}
.hoi-dap__main__below__left ul li div>img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}


.hoi-dap__main__below__left >ul >li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hoi-dap__main__below__left >ul li > ul {
    border: 1px solid rgb(207, 199, 199);
    display: none;
    padding: 0 10px;
}


.hoi-dap__main__below__left >ul li > ul li {
    padding: 12px 8px;
    border-bottom: 1px solid rgb(207, 195, 195);
}

.hoi-dap__main__below__left >ul li > ul li:last-child {
   border: none;
}



.hoi-dap__main__below__right__above {
    height: 60px;
    background-color: #EEEEEE;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.hoi-dap__main__below__right__above form {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
}

.hoi-dap__main__below__right__above form> div {
    height: 40px;
    width: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hoi-dap__main__below__right__above form> div ion-icon {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    margin-left: 20px;
}


.hoi-dap__main__below__right__above form input {
    cursor: pointer;
}

.hoi-dap__main__below__right__above form input[type="text"] {
    width: 500px;
    height: 35px;
    outline: none;
    border: none;
    cursor:text;
    border-radius: 10px;
}

.hoi-dap__main__below__right__above form input[type="submit"] {
    display: flex;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    outline: none;
    border: none;
}
.hoi-dap__main__below__right__above form a{
    display: flex;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    cursor: pointer;
}

.hoi-dap__main__below__right__above input{
    outline: none;
    height: 40px;
}

div.hoi-dap__main__below__right__above form button:hover {
    background-color: white;
}
.hoi-dap__main__below__right__above form button {

}

.hoi-dap__main__below__right__above form div {
    display: flex;
}

.hoi-dap__main__div1 {
    display: flex;
    margin: 20px 0;
    border-bottom: 1px solid rgb(197, 184, 184);
}

.hoi-dap__main__div1__left {
    flex: 5;
    
    margin-right: 20px;
}

.hoi-dap__main__div1__right {
    flex: 4;
}

.hoi-dap__main__div1__left p {
    font-size: 22px;
    margin: 10px 0;
}

.hoi-dap__main__div1__right h4 {
    margin-bottom: 10px;
}

.hoi-dap__main__div1__right ul li {
    margin: 10px 0;
    font-size: 15px;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.hoi-dap__main__div1__right ul li div {
    height: 50px;
    width:100px;
    background-color: #EEEEEE;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
}


body:has(.hoi-dap__main) {
    background-color: white;
}

.hoi-dap-dangnhap-box {
    background-color: rgb(176, 143, 143);
    border-radius: 10px;
    height: 120px;
    width: 320px;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 100;
    display: none;
}

.hoi-dap-dangnhap-box h4, .hoi-dap-dangnhap-box a {
    font-size: 16px;
    color: black;
    
}

/* Game App Page ----------------------- */

body:has(.game-app__main__div1) {
    background-color: white;
}

.game-app__main__div1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(201, 188, 188);
}
.game-app__main__div1__left {
    width: 74%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
 
}

.game-app__main__div1__left ul,
ul.game-app__main__div4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game-app__main__div1__left ul li:first-child
{
   
    padding-bottom: 10px;
    border-bottom: 3px solid #F89406;
}

.game-app__main__div1__left ul li:first-child a {
    color: #F89406;
    font-weight: bold;
}

.game-app__main__div1__left ul li a, 
ul.game-app__main__div4 li a {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}


.game-app__main__div1__left ul li a img, 
ul.game-app__main__div4 li a img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.game-app__main__div1__left ul li a ion-icon {
    margin-left: 5px;
}


.game-app__main__div1__right {
    width: 24%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.game-app__main__div1__right>a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    
}

.game-app__main__div1__right>div {
    display: flex;
    align-items: center;
    border-left: 1px solid rgb(197, 190, 190);
    padding-left: 10px;
    opacity: 0.7;
}
.game-app__main__div1__right>div> img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

ul.game-app__main__div4 {
    margin: 15px 0;
    background-color: #F8F8F8;
    padding: 10px 50px;
}

ul.game-app__main__div4 li {
    display: flex;
    justify-content: center;
}
.game-app__main__div2 {
    display: flex;
    justify-content: space-between;
}

.game-app__main__div2__left {
    width: 74%;
    
}

.game-app__main__div2__left>div {
    margin: 15px 0;
}

.game-app__main__div2__left div.game-app__main__div2__left__div1 {
    margin-top: 0;
}


.game-app__main__div2__left__div1 h3  {
    margin-bottom: 20px;
    ;
    padding-left: 10px;
}

.game-app__main__div2__left__div1>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}

.game-app__main__div2__left__div{
    width: calc(97% / 3);
    margin-bottom: 20px;
    background-color: #F8F8F8;
    padding-bottom: 15px;
    border-radius: 10px;;

}

.game-app__main__div2__left__div>div>img {
    height: 170px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.game-app__main__div2__left__div>div>div {
    margin: 10px 0;
    display: flex;
    padding: 0 5px;
}

.game-app__main__div2__left__div>div>div img {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    margin-right: 10px;
}

.game-app__main__div2__left__div>div>div ul {
    display: flex;
    margin-top: 5px;
}

.game-app__main__div2__left__div>div>ul {
    padding-left: 10px;
}

.game-app__main__div2__left__div>div>ul>li {
    list-style: disc;
    color: #91C0E3;
    list-style-position: inside;
    margin-bottom: 8px;
}

.game-app__main__div2__left__div>div>ul>li>a {
   
    font-size: 13px;
    color: #5CA2D8;
}

.game-app__main__div2__left__div>div>div ul li {
   padding: 3px 8px;
   font-size: 13px;
   color: #818181;
}

.game-app__main__div2__left__div>div>div ul li:first-child {
    background-color: #07A358;
    border-radius: 5px;
    color: white;
}

.game-app__main__div2__left__div2 {
    background-color: #F8F8F8;
    padding: 10px 15px;

}

.game-app__main__div2__left__div2 h3 {
    margin: 10px 0;
}

.game-app__main__div2__left__div2 ul {
    display: flex;
   width: 100%;
}

.game-app__main__div2__left__div2 ul li{
    border-radius: 5px;;
    background-color: white;
    padding: 5px 8px;
    margin: 0 5px;
    border: 1px solid rgb(75, 59, 214);
    cursor: pointer;
}

.game-app__main__div2__left__div2 ul li:hover{
    
    border: 1px solid rgb(185, 223, 16);
}

.game-app__main__div2__left__div2 ul li a {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.game-app__main__div2__left__div2 ul li a img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.game-app__main__div2__left__div3 {
    padding: 10px;
    background-color: #F8F8F8;
}

.game-app__main__div2__left__div3>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.game-app__main__div2__left__div3>div:first-child ul {
    display: flex;
}

.game-app__main__div2__left__div3>div:first-child ul li {
    padding: 10px 12px;
    border: 1px solid rgb(204, 176, 176);
    background-color: white;
    margin: 0 5px;
    border-radius: 5px;
}
.game-app__main__div2__left__div3>div:first-child ul li:first-child {
    border: 1px solid blue;
}

.game-app-divlaptopgaming, 
.game-app-divdienthoaigaming {
    display: none;
}



.game-app__main__div2__left__div3>div>div:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;

}

.game-app__main__div2__left__div3>div>div>a {
    padding: 15px 80px;
    background-color: green;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.game-app__main__div2__left__div3>div>div>a ion-icon {
    margin-left: 3px;
}

.game-app-slick {
    background-color: white;
    border-radius: 10px;
    height: 350px;
}

.game-app-slick img {
    width: 100%;
    height: 220px;
    margin-bottom: 5px;
}

.game-app-slick p {
    margin: 5px 0;
}

.game-app-slick p:nth-child(3){
    font-size: 13px;
}

.game-app-slick p:nth-child(4){
    font-size: 17px;
    font-weight: bold;
    color: red;

}
.game-app-slick p:nth-child(5){
    font-size: 13px;
    text-decoration:line-through ;
}

.game-app__main__div2__right {
    width: 24%;
    height: 100px;
    background-color: green;
}

.game-app__main__div2__right img {
    height: 90px;
    width: 100%;
}

.game-app__main__div2__right__div {
    background-color: #F8F8F8;
    margin: 20px 0;
    border-radius: 10px;;
}




.game-app__main__div2__right__div__menu {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}




.game-app__main__div2__right__div__menu>div {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    width: 50%;
    border: 1px solid rgb(201, 182, 182); 
}


.game-app__main__div2__right__div__menu>div:first-child {
    background-color: #FFFFFF;
    color: blue;
    border-radius: 10px 0 0 0 ;
    border-bottom: 3px solid blue
}

.game-app__main__div2__right__div__menu>div:last-child {
    border-radius: 0 10px 0 0 ;
}

.game-app__main__div2__right__div__game,
.game-app__main__div2__right__div__ungdung {
    height: 1100px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 10px;
    scrollbar-color: rebeccapurple green;
}

.game-app__main__div2__right__div__game>div,
.game-app__main__div2__right__div__ungdung>div {
    display: flex;
    border-bottom: 1px solid rgb(187, 164, 164);
    padding: 10px 0 5px 0;
}

.game-app__main__div2__right__div__game>div>img,
.game-app__main__div2__right__div__ungdung>div>img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
 

}

.game-app__main__div2__right__div__game>div>a,
.game-app__main__div2__right__div__ungdung>div>a {
    font-weight: bold;
    width: calc(78% - 10px);
    display: inline-block;
    height: 100px;
    
} 

.game-app__main__div2__right__div__game>div>a>ul,
.game-app__main__div2__right__div__ungdung>div>a>ul {
    display: flex;
}
.game-app__main__div2__right__div__game>div>a>ul>li ,
.game-app__main__div2__right__div__ungdung>div>a>ul>li {
    font-size: 12px;
    color: #818181;
    padding: 5px 8px;
    font-weight: normal;

}

.game-app__main__div2__right__div__game>div>a>ul:first-of-type>li:first-child,
.game-app__main__div2__right__div__ungdung>div>a>ul:first-of-type>li:first-child {
    color: white;
    border-radius: 5px;
    background-color: #07A358;
}

.game-app__main__div2__right__div__ungdung {
    display: none;
}

.game-app__main__div2__right__div__game>div>a>ul:last-child>li>img,
.game-app__main__div2__right__div__ungdung>div>a>ul:last-child>li>img {
    width: 20px;
    height: 20px;
}









/* --- START - SMARTWATCH */

/* --- START - DONG HO */

/* --- START - MAY CU GIA RE */

/* --- START - PC/ MAY IN */

/* --- START - SIM/ THE CAO */

/* --- START - DICH VU TIEN ICH */
